/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #d60707;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #f71e78;
}

/* Header Styles */
.nav {
    background-color: #333;
    color: #10bb1e;
    padding: 10px 20px;
}

.nav a {
    color: #24d0d6;
    text-decoration: none;
    margin-right: 20px;
}

/* Main Content Styles */
.hero {
    background-color: hwb(180 8% 25% / 0.959);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(226, 19, 123, 0.301);
}

/* Button Styles */
.btn {
    background-color: #1eb5cf;
    color: #1bce4296;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    background-color: #eb1a71;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #ca1111;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
